

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1c1e2b;
    color: white;
    font-family: 'Mukta', sans-serif;    
}




li{
    list-style: none;
}

nav ul {

    text-decoration: none;
    margin-left:4rem ;
    overflow: hidden;
    transition: .5s;

}
nav a{
    text-decoration: none;
}
nav ul a{
    
    text-decoration: none;
    margin-left:4rem ;
    color: white;
    font-weight: bold;
}
nav ul a:hover{
    
    border-bottom: 4px solid indigo;
}

nav{
    display: flex;
    padding: 1.2rem;
    
}

nav h2{
    font-size: 2rem;

}

header{
    display: flex;

}


nav .off{
    display: none;
}
.h-menu{
    height: 23rem;
}
.red{
    color: rgb(196, 8, 8);
}

.indigo{
    color: rgb(7, 34, 206);
}

section{
    margin-top: 10rem;
    display: flex;
    padding: 0 14rem;
}


img{
    height: 16rem;
}
.left{
    background-color: #2a2c47;
    padding: 1rem;
    border-radius: 3px;
    
}

.right{
    background-color: #2a2c47;
    border-radius: 3px;
    padding: 1rem;
    font-size: 1.2rem;
    
}

@media only screen and (max-width: 986px) {

    .right{
        font-size: 1rem;
        width: 90%;
    }

    .left{
        width: 90%;
        
    }
    section{
        width: 100%;
        padding: 1rem 2rem;
    }


}


@media only screen and (max-width: 750px) {

    nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        overflow: hidden;
        
    }

    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 73%;
        margin-top: 1.3rem;
        height: 0;

    }
    nav ul li a{
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        margin-top: 1.2rem;

    }

    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
    nav .off{
        font-size: 2rem;
        display: block;
    }

    section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-bottom: 1.5rem;
   
    }


    .left{
        background-color: #2a2c47;
        /* padding: 1rem; */
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        
    }
    
    .right{
        background-color: #2a2c47;
        border-radius: 3px;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: center;
    }

}

@media only screen and (max-width: 550px) {


    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin-top: 1.3rem;

    }








}
